# IDE
.idea/*
.idea
!.idea/icon.png
.vscode
.pnpm-store/

# logs
/logs/
*.log

# config
config.yaml
.env

# sqlite
*.db
*.db-journal
*.db-shm
*.db-wal

# frontend
frontend/build
frontend/disk
frontend/node_modules/*
frontend/.next/*
frontend/next-env.d.ts
frontend/package-lock.json
frontend/.env
.env.*
!.env.example
*.tsbuildinfo

# os
.DS_Store
Thumbs.db

# build
/build/
/bin/
/dist/

# go workspace
go.work
go.work.sum
main

# upload
uploads/*

s3_cache
/frontend/.next/
/data/
/internal/router/dist/
/frontend/out/
/.idea/
/uploads/
/*-source/
/.cache/
/internal/router/root/dist/
.dmux/
